/**
 * new variables for dark mode
 * this requires consistently applying the variables, not the color values
 */

body.dark-mode {
    --wp--preset--color--fngllw-zwart: #ff0000;
    --wp--preset--color--fngllw-wit: #00ff00;
    --wp--preset--color--fngllw-text: #999999;
    --wp--preset--color--fngllw-background: #005500;
    --wp--preset--color--fngllw-donkerrood: #ffcccc;
    --wp--preset--color--fngllw-donkerblauw: #ccccff;
}
