@font-face {
    font-family: "Bricolage";
    src: url("../fonts/BricolageGrotesque.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("../fonts/Petrona-VariableFont_wght.woff2") format("woff2");
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("../fonts/Petrona-Italic-VariableFont_wght.woff2") format("woff2");
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
